@font-face {
  font-family: "fontArab";
  src: url("/fonts/LPMQ.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

header button:active {
  background-color: #81e6d9;
  transition: background-color 0.1s ease;
}

footer button:active {
  background-color: #2d3748;
  transition: background-color 0.1s ease;
}

.bookmark-button:active {
  background-color: #EDF2F7;
  transition: background-color 0.1s ease;
}

.arabic-text {
  font-family: 'fontArab';
  font-weight: 400;
  font-size: 27px;
  line-height: 3;
  color: #212529
}

.anchor {
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 425px) {

}

@media screen and (max-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  #__next main, .header-nav, .footer-buttons, .footer-player {
    width: 64rem !important;
    padding: 0 1rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}