html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
}

header button:active {
  background-color: #81e6d9;
  transition: background-color 0.1s ease;
}

footer button:active {
  background-color: #2d3748;
  transition: background-color 0.1s ease;
}

@media screen and (min-width: 1024px) {
  #__next main, .header-nav, .footer-buttons {
    width: 64rem !important;
    padding: 0 1rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}